# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Logs
*.log
logs/

# Env
.env
.env.*

# Node
node_modules/
dist/
build/
coverage/

# Python
__pycache__/
*.pyc
.venv/

# Artifacts
*.tgz
*.zip
*.tar.gz
